.gif {
    width: 50%;
    height: auto;

}
body {
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
}
.h7 {
    font-size: 0.5vw;
}
.h8 {
    font-size: 0.3vw;
}
/* гыг */